<section class="container">
    <h1 class="text-center">Noticias</h1>
  
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="news-card">
          <div class="news-image-container">
            <img src="../../../assets/images/news/education-5600987_1920.png" class="news-image" alt="Noticia 1">
          </div>
          <div class="news-content">
            <h2>Título de la noticia 1</h2>
            <p>Tutores virtuales ayudan a estudiantes universitarios a adaptarse a la educación en línea, brindando asesoramiento académico y apoyo en la organización del estudio.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="news-card">
          <div class="news-image-container">
            <img src="../../../assets/images/news/png-transparent-mentorship-teacher-coaching-business-teacher-boy-expert-business-thumbnail.png" class="news-image" alt="Noticia 2">
          </div>
          <div class="news-content">
            <h2>Título de la noticia 2</h2>
            <p>Un programa de tutoría mejora el rendimiento de estudiantes de primaria mediante apoyo personalizado en varias asignaturas.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  