<section class="about-section">
  <div class="container">
    <h1>Sobre Nosotros</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/about/enseñanza-aprendizaje.jpg" class="img-fluid" alt="Nosotros">
      </div>
      <div class="col-md-6">
        <h2>Nuestro Objetivo</h2>
        <p>Nuestro enfoque principal se centra en el desarrollo continuo de nuestra plataforma en línea, que ya está disponible, y en mejorarla constantemente para fomentar un aprendizaje interactivo y dinámico. En nuestra plataforma, los estudiantes tienen la oportunidad de recibir asistencia académica personalizada de sus compañeros en tiempo real, lo que fortalece su comprensión de los conceptos y estimula la colaboración. Además, nos esforzamos por mantener los costos lo más bajos posible para garantizar que nuestra plataforma sea accesible para todos los estudiantes.</p>
      </div>
    </div>
  </div>
</section>
