<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hero-title">Bienvenido a TutorMe</h1>
        <p class="hero-description">Tu plataforma educativa en línea para aprender de manera efectiva.</p>
        <a href="#" class="btn btn-primary">Conoce más</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../assets/images/educacion-futuro-696x464-1.jpg" alt="Welcome Image" class="img-fluid custom-image">
      </div>
      <div class="col-lg-6">
        <div class="about-section">
          <h2 class="section-title">Sobre Nosotros</h2>
          <p>Somos un equipo dedicado de profesionales de la educación comprometidos con brindar una experiencia de aprendizaje en línea excepcional. Nuestro objetivo es ayudarte a desarrollar tus habilidades, expandir tus conocimientos y alcanzar el éxito académico.</p>
          <h2 class="section-title">Nuestros Servicios</h2>
          <ul class="services-list">
            <li>Servicio 1</li>
            <li>Servicio 2</li>
            <li>Servicio 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
