<section class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <img src="../../../assets/images/cursos/comunicacion.jpg" class="card-img-top image-hover" alt="comu_image">
        <div class="card-body">
          <h4 class="card-title">Comunicación</h4>
          <p class="card-text">"La Comunicación une a las personas a través de la transmisión de información y la expresión de ideas."</p>
          <a href="#" class="btn neon-btn blue">Leer más</a>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card text-center">
        <img src="../../../assets/images/cursos/math.jpg" class="card-img-top image-hover" alt="math_image">
        <div class="card-body">
          <h4 class="card-title">Matemáticas</h4>
          <p class="card-text">"Las Matemáticas son el lenguaje universal de los números y las formas, utilizadas para resolver problemas y descubrir patrones en el mundo."</p>
          <a href="#" class="btn neon-btn red">Leer más</a>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card text-center">
        <img src="../../../assets/images/cursos/science.jpg" class="card-img-top image-hover" alt="science_image">
        <div class="card-body">
          <h4 class="card-title">Ciencias</h4>
          <p class="card-text">"Las Ciencias desvelan los misterios de la naturaleza y mejoran nuestro mundo."</p>
          <a href="#" class="btn neon-btn green">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</section>
